
<div id='myModal' class='modal fade'>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div id='confirmationModal' class='modal fade'>
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div id='confirmModalContent'></div>
        </div>
    </div>
</div>




