
<footer class="main-footer">
    <span>Copyright &copy;@DateTime.Now.Year <a href="https://nexbytenepal.com" target="_blankclass="text-blue">NexByte Nepal Pvt. Ltd.</a>. All rights reserved.</span>
    <div class="float-right d-none d-sm-inline-block">
        <span>V 1.0.0</span>
    </div>
</footer>
