
<footer class="main-footer">
    <span>Copyright &copy;@DateTime.Now.Year <a href="https://digitalagenepal.com" class="text-blue">Digital Age Nepal</a>. All rights reserved.</span>
    <div class="float-right d-none d-sm-inline-block">
        <span>V 2.0.1</span>
    </div>
</footer>
