<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EyeCare</title>
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fonts.googleapis.com.css" rel="stylesheet" type="text/css">
    <link href="~/Content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Login/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="bg-light">
    <div class="container">
        <!-- Outer Row -->
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/Login/sb-admin-2.min.js"></script>
</body>
</html>
